<div class="flex justify-center">
  <app-otamatone
    [enabledNotes]="enabledNotes"
    (onPlay)="onPlay($event)"
  ></app-otamatone>
</div>

<div class="flex items-baseline mt-4">
  <mat-form-field class="grow" appearance="fill">
    <mat-label>
      <span>{{ prompt }} </span>
      <span *ngIf="maxNotes >= 1">({{ notes.length }} / {{ maxNotes }})</span>
    </mat-label>
    <input matInput readonly [value]="notes" />
  </mat-form-field>

  <button mat-icon-button (click)="reset()" [disabled]="readonly">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
