<svg [attr.height]="circleSize" [attr.width]="stickWidth + circleSize + 50">
  <!--face-->
  <g>
    <circle
      class="face"
      [attr.cx]="circleSize / 2"
      [attr.cy]="circleSize / 2"
      [attr.r]="circleSize / 2"
    ></circle>
    <circle
      class="eye"
      [attr.cx]="circleSize / 1.5"
      [attr.cy]="circleSize / 3"
      [attr.r]="eyeSize / 2"
    ></circle>
    <circle
      class="eye"
      [attr.cx]="circleSize / 1.5"
      [attr.cy]="circleSize / 1.5"
      [attr.r]="eyeSize / 2"
    ></circle>
    <polyline class="mouth" fill="none" [attr.points]="mousePoints"></polyline>
  </g>
  <!--stick-->
  <g
    aria-label="otamatone stick"
    [attr.transform]="
      'translate(' +
      circleSize +
      ', ' +
      (circleSize / 2 - stickHeight / 2) +
      ')'
    "
  >
    <rect
      class="stick"
      x="0"
      y="0"
      [attr.width]="stickWidth"
      [attr.height]="stickHeight"
    ></rect>

    <g
      *ngFor="let position of allPositions; index as index"
      [attr.transform]="
        'translate(' +
        (index * (spaceWidth + buttonSize) + buttonSize / 2) +
        ', 0)'
      "
    >
      <circle
        class="button"
        [class.disabled]="isDisabled(position)"
        [attr.cy]="stickHeight / 2"
        [attr.r]="buttonSize / 2"
      ></circle>
      <text
        class="button-label"
        [class.disabled]="isDisabled(position)"
        text-anchor="middle"
        y="-20"
      >
        {{ position }}
      </text>
    </g>
  </g>
</svg>
