.face {
  fill: var(--app-primary);
}

.eye {
  fill: var(--app-accent);
}

.mouth {
  stroke: var(--app-accent);
  stroke-width: 7px;
}

.stick {
  fill: var(--app-primary);
  stroke: var(--app-primary);
  stroke-width: 2px;
}

.button {
  fill: var(--app-accent);

  &.disabled {
    fill: lightgray;
  }
}

.button-label {
  fill: black;
  font-family: "Roboto";
  font-size: 12px;

  &.disabled {
    fill: lightgray;
  }
}

.tail-separator {
  fill: var(--app-primary);
}

.tail {
  fill: var(--app-accent);
}
