.stick {
  fill: var(--app-primary);
  stroke: var(--app-primary);
  stroke-width: 2px;
}

.button {
  fill: var(--app-accent);

  &.disabled {
    fill: lightgray;
  }
}

.button-label {
  fill: black;
  font-family: "Roboto";
  font-size: 12px;

  &.disabled {
    fill: lightgray;
  }
}
