<app-two-column>
  <mat-nav-list class="w-[200px] overflow-scroll" sidebar>
    <button
      mat-list-item
      *ngFor="let navLesson of lessons$ | async"
      routerLink="/app/learn/{{ navLesson.index }}"
    >
      <span
        [class.app-sidebar-selected]="navLesson.id === (lesson$ | async)?.id"
      >
        {{ navLesson.title }}
      </span>
    </button>
  </mat-nav-list>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="pr-4">Lesson</h1>
      <a mat-button routerLink="/app/practice">Practice</a>
      <a mat-button routerLink="/app/quiz">Quiz</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <h2 class="pr-3">{{ (lesson$ | async)?.title ?? "?" }}</h2>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="grow container px-4 pt-2 grid grid-cols-12 gap-y-4">
    <div class="col-span-12">
      <h3 class="mat-h1">Instruction</h3>
      <p class="mat-body2">
        Replicate the following note you hear by click
        <span class="to-click">buttons on the otamatone</span> to play notes
      </p>
    </div>

    <div class="col-span-12">
      <app-otamatone-clip
        [notes]="[(lesson$ | async)?.position ?? 1]"
      ></app-otamatone-clip>
    </div>

    <div class="col-span-12 flex justify-center">
      <app-otamatone (onPlay)="onPlay($event)"></app-otamatone>
    </div>

    <div class="col-span-12 grid grid-cols-2 gap-x-3">
      <button
        class="flex-grow-1 pr-1"
        mat-button
        color="accent"
        [disabled]="previousDisabled | async"
        [routerLink]="previousLink | async"
      >
        Previous
      </button>
      <button
        class="flex-grow-1"
        mat-raised-button
        color="primary"
        [disabled]="(lesson$ | async)?.position !== playedPosition"
        [routerLink]="nextLink | async"
      >
        {{ nextText | async }}
      </button>
    </div>
  </div>
</app-two-column>
