<mat-drawer-container class="block h-full">
  <mat-drawer mode="side" opened>
    <mat-nav-list class="w-[200px] overflow-scroll" sidebar>
      <button
        mat-list-item
        *ngFor="let lesson of lessonService.getLessonOverviews() | async"
        routerLink="/app/learn/{{ lesson.id }}"
      >
        {{ lesson.title }}
      </button>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <h1>Lesson {{ (lesson | async)!.title }}</h1>
    </mat-toolbar>

    <div class="grow container px-4 pt-2 grid grid-cols-12 gap-y-4">
      <div class="col-span-12">
        <p class="mat-body">
          Replicate the following note you hear by click
          <span class="to-click">buttons on the otamatone</span> to play notes
        </p>
      </div>

      <div class="col-span-12">
        <app-otamatone-clip
          [notes]="[(lesson | async)!.note]"
        ></app-otamatone-clip>
      </div>

      <div class="col-span-12 flex justify-center">
        <app-otamatone></app-otamatone>
      </div>

      <div class="col-span-12 grid grid-cols-2 gap-x-3">
        <a class="flex-grow-1 pr-1" mat-button color="accent">Previous</a>
        <a
          class="flex-grow-1"
          mat-raised-button
          color="primary"
          [routerLink]="nextLessonLink | async"
          >Next</a
        >
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
