<app-two-column>
  <mat-nav-list sidebar class="w-100 align-self-start">
    <button
      mat-list-item
      *ngFor="let lesson of lessonService.getLessonOverviews() | async"
      routerLink="/app/learn/{{ lesson.id }}"
    >
      {{ lesson.title }}
    </button>
  </mat-nav-list>

  <div class="container px-4 pt-2 grid grid-cols-12">
    <div class="col-span-12">
      <h1 class="mat-h1">Lesson {{ id }}</h1>
    </div>

    <div class="col-span-12">
      <button mat-raised-button color="primary" (click)="playClip()">
        Play
      </button>
    </div>

    <div class="col-span-12 flex justify-center">
      <app-otamatone></app-otamatone>
    </div>

    <div class="col-span-12 grid grid-cols-2 gap-x-3">
      <a class="flex-grow-1 pr-1" mat-button color="accent">Previous</a>
      <a class="flex-grow-1" mat-raised-button color="primary">Next</a>
    </div>
  </div>
</app-two-column>
<!-- <div class="container">
  <div class="row">
    <div class="col-3 mt-4">
      <mat-nav-list class="w-100 align-self-start">
        <button
          mat-list-item
          *ngFor="let lesson of lessonService.getLessonOverviews() | async"
          routerLink="/app/learn/{{ lesson.id }}"
        >
          {{ lesson.title }}
        </button>
      </mat-nav-list>
    </div>

    <div class="col-9 mt-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="mat-h1">Learn {{ id }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="mat-body">Replicate the note that you hear</p>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button mat-raised-button color="primary" (click)="playClip()">
              Play
            </button>
          </div>
        </div>

        <div class="row mt-5 pt-2">
          <div class="col text-center">
            <app-otamatone></app-otamatone>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col d-flex flex-row">
      <a class="flex-grow-1 pr-1" mat-button color="accent">Previous</a>
      <a class="flex-grow-1" mat-raised-button color="primary">Next</a>
    </div>
  </div>
</div> -->
