{% extends "layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.data = {
      type: "finish",
    },

    App.finish();
  });
</script>
{% endblock %}

{% block two_col_sidebar %}
Sidebar
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div style="margin-top :100px; margin-left:20% ">
        <img src="https://thumbs.dreamstime.com/b/congratulations-banner-colorful-splash-stock-vector-congratulations-banner-colorful-splash-vector-157999321.jpg" width="70%">
      </div>
      <div style="width: 50%; margin-left: 25%; height: 2px; background-color:rgb(55, 103, 184); "> </div>
      <div style="width: 100%; margin-top: 5px; text-align: center;"> 
        <b> You have accomplished this tutorial! Now you know how to play otamatone! </b>
        <div style="margin-top: 10px;"> your tutorial score is : {{ score }}</div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
