{% extends "layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.data = {
      type: "finish",
    },

    App.finish();
  });
</script>
{% endblock %}

{% block two_col_sidebar %}
Sidebar
{% endblock %}

{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="text">
        <h1>Finished!</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      You have accomplished this tutorial!
      Now you know how to play otamatone!
    </div>
  </div>

  <div class="row mt-4 pt-3 border-top">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Question</th>
            <th>Earned</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td>
                <a
                  class="link-secondary"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-{{ result.id }}"
                >
                  {{ result.title }}
                </a>
              </td>
              <td class="{{ 'bg-success' if result.earned == result.weight else 'bg-danger' }}">
                <code class="text-light">
                  {{ result.earned }} / {{ result.weight }}
                </code>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <th>Total</th>
            <th>
              <code class="text-dark">
                {{ score }} / {{ total_score }}
              </code>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% for result in results %}
    <div
      class="modal fade"
      id="modal-{{ result.id }}"
      tabindex="-1"
      aria-labelledby="modal-{{ result.id }}"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">{{ result.title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container">
            <div class="row">
              <div class="col text-center">
                <p>{{ result.subtitle }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <audio controls>
                  <source src="/quiz/clip/{{ result.id }}" type="audio/mpeg">
                </audio>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <ul>
                  <li>
                    <b>Your response:</b> {{ result.submission }}
                  </li>
                  <li>
                    <b>Solution: </b> {{ result.solution }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-primary" href="/quiz/{{ result.id }}">Go</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
