{% extends "layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.data = {
      type: "finish",
    },

    App.finish();
  });
</script>
{% endblock %}

{% block two_col_sidebar %}
Sidebar
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text">
        <div>
          <b>You have accomplished this tutorial! Now you know how to play otamatone!</b>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Question</th>
              <th>Earned</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr class="{{ 'table-success' if result.earned == result.weight else 'table-danger' }}">
                <td>{{ result.title }}</td>
                <td>
                  <code class="text-dark">
                    {{ result.earned }} / {{ result.weight }}
                  </code>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <th>Total</th>
              <th>
                <code class="text-dark">
                  {{ score }} / {{ total_score }}
                </code>
              </th>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>
{% endblock %}
