{% extends "layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.welcome();
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row pt-5">
    <div class="col text-center">
      <h1>Otamatone!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col min-h-300px">
      <div id="otamatone"></div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-primary" href="/learn/1">
        Learn
        <i class="bi bi-play-fill"></i>
      </a>
      <a class="btn btn-primary" href="/practice/1">
        Practice
        <i class="bi bi-wrench"></i>
      </a>
      <a class="btn btn-primary" href="/quiz/1">
        Quiz
        <i class="bi bi-card-checklist"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}
