{% extends "two-col-layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.data = {
      type: "learn",
      lesson: {{ lesson | tojson }},
      lessons_overview: {{ lessons_overview | tojson }}
    },

    App.learn();
  });
</script>
{% endblock %}

{% block two_col_sidebar %}
Sidebar
{% endblock %}

{% block two_col_content %}
<div class="row">
  <div class="col text">
    <h1 id="title=">{{lesson.note}}</h1>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h2>Click the <span class="text-secondary">orange</span> button to hear the sound.</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="otamatone"></div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <button id="next" class="btn btn-primary" disabled>
      Next
      <i class="bi bi-skip-end-fill"></i>
    </button>
  </div>
</div>


<div class="row">
  <div class="col text-center" id="visited">
    Last visited {{ lesson.last_visited }}
  </div>
</div>
{% endblock %}
