{% extends "layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.data = {
      type: "finish",
    },

    App.finish();
  });
</script>
{% endblock %}

{% block two_col_sidebar %}
Sidebar
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>Not Finished!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      Please finish the quiz first.
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <ul class="list-group">
        {% for question in questions %}
          <a class="list-group-item text-secondary" href="/quiz/{{ question.id }}">
            {{ question.title }}
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
