{% extends "two-col-layout.html" %}

{% block scripts %}
<script>
  $(() => {
    App.data = {
      type: "quiz",
      quiz: {{ question | tojson }},
      quizzes_overview: {{ quizzes_overview | tojson }}
    },

    App.quiz();
  });
</script>
{% endblock %}

{% block two_col_sidebar %}
Sidebar
{% endblock %}

{% block two_col_content %}
<div class="row">
  <div class="col text-center">
    <h1 id="title">{{ question.title }}</h1>
  </div>
</div>

<div class="row pt-4">
  <div id="clip" class="col text-center">
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="otamatone"></div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <code id="user-inputs"></code>
  </div>
</div>

<div class="row pt-4">
  <div class="col text-center">
    <button id="redo" class="btn btn-secondary">
      Redo
      <i class="bi bi-arrow-counterclockwise"></i>
    </button>
    <button id="next" class="btn btn-primary" disabled>
      Next
      <i class="bi bi-skip-end-fill"></i>
    </button>
  </div>
</div>
{% endblock %}
