@mixin flex() {
  .d-flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-grow {
    flex-grow: 1;
  }
}

@mixin margin() {
  $space: 4px;

  @for $i from 1 through 5 {
    .mt-#{$i} {
      margin-top: $space * $i;
    }

    .mb-#{$i} {
      margin-bottom: $space * $i;
    }

    .ml-#{$i} {
      margin-left: $space * $i;
    }

    .mr-#{$i} {
      margin-right: $space * $i;
    }
  }
}

@mixin height() {
  .h-100 {
    height: 100% !important;
  }

  .min-h-100vh {
    min-height: 100vh;
  }
}

@mixin text() {
  .text-center {
    text-align: center;
  }
}

@mixin all {
  @include flex();
  @include height();
  @include margin();
  @include text();
}
