/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;
@use "styles/sidebar";
@use "styles/text";

@include mat.core();

// themes

$my-primary: mat.define-palette(mat.$teal-palette);
$my-accent: mat.define-palette(mat.$orange-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);

// tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// custom styles

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

:root {
  --app-primary: #{map.get($my-primary, "default")};
  --app-accent: #{map.get($my-accent, "default")};
}

@include sidebar.sidebar($my-theme);
@include text.text($my-theme);
