/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;
@use "./utils";

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

:root {
  --app-primary: #{map.get($my-primary, "default")};
  --app-accent: #{map.get($my-accent, "default")};
}

@include mat.all-component-themes($my-theme);
@include utils.all();
