@use "sass:color";

.photo {
  margin-top: 100px;
  margin-left: 20%;
}

.line {
  width: 50%;
  margin-left: 25%;
  height: 2px;
  background-color: color.scale($primary, $lightness: 20%);
}

.text {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.score {
  margin-top: 10px;
}
.ocu{
  height: 10%;
}
.ocuone{
  height:20px;
}

.bg-success{
  background-color: lightgreen !important;
}
.bg-danger{
  background-color: lightcoral !important;
}