@use "sass:map";
@use "sass:color";

.two-col-layout {
  min-height: 100%;
}

.sidebar {
  width: 250px;
}

.sidebar-item {
  display: block;
  color: $dark;
  text-decoration: none;

  &.active {
    color: white;
  }
  &:hover {
    color: lightgray;
  }
}
