@use "sass:map";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$primary: #85c8f2;
$secondary: #ffb808;
$light: #fafafa;
$dark: #333a48;

$font-family-sans-serif: Roboto;

$input-btn-font-family: $font-family-sans-serif;

$headings-font-family: "Source Sans Pro";
$headings-font-weight: 900;
