<mat-toolbar color="primary">
  <nav class="w-full flex flex-row">
    <a class="pr-4" routerLink="/">Otamatone</a>
    <a mat-button routerLink="/app" [disabled]="!(auth.user$ | async)">
      Dashboard
    </a>
  </nav>
</mat-toolbar>

<div class="mx-4 md:mx-20 grid grid-cols-12 gap-y-4 mt-5">
  <div class="col-span-12 text-center">
    <h1 class="mat-display-1">Let's Learn Otamatone!</h1>
  </div>

  <div class="col-span-12 flex justify-center">
    <app-otamatone class="hidden md:block"></app-otamatone>
  </div>

  <div
    class="col-span-12 grid grid-cols-1 gap-x-3"
    *ngIf="(user$ | async) === null"
  >
    <button mat-button color="primary" (click)="login()">
      Login With Google
    </button>
  </div>

  <div
    class="col-span-12 grid grid-cols-1 gap-x-3"
    *ngIf="(user$ | async) !== null"
  >
    <a mat-button color="primary" routerLink="/app/">Dashboard</a>
  </div>

  <div class="col-span-12">
    <h2 class="mat-h1">What is Otamatone?</h2>
    <blockquote
      class="mat-body2"
      cite="https://en.wikipedia.org/wiki/Otamatone"
    >
      The Otamatone (Japanese: オタマトーン, Hepburn: Otamatōn) is an
      <b>electronic musical synthesizer</b>. It was <b>developed in Japan</b> by
      the <b>CUBE toy company and the Maywa Denki design firm</b> led by the
      brothers Masamichi and Nobumichi Tosa.
    </blockquote>
  </div>

  <div class="col-span-12">
    <h2 class="mat-h1">About</h2>
    <p class="mat-body2">
      This experience is brought to you by
      <a class="link" href="https://github.com/Zehua-Chen">Zehua Chen</a> using
      <a>Angular</a> on the frontend and <a>Firebase</a> on the backend. The
      repository is hosted at
      <a class="link" href="https://github.com/Zehua-Chen/learn-otamatone">
        Zehua-Chen/learn-otamatone
      </a>
    </p>
  </div>

  <div class="col-span-12">
    <h2 class="mat-h1">Acknowledgement</h2>
    <p class="mat-body2">
      This project was originally developed as the final project of COMS 4170 of
      Columbia University, Spring 2022. The source and the build can be found at
      <a
        class="link"
        href="https://github.com/Zehua-Chen/learn-otamatone/releases/tag/coms4170-0.1.1"
      >
        Zehua-Chen/learn-otmaatone/coms4170-0.1.1
      </a>
    </p>
    <p class="mat-body2">
      The project was originally developed using JQuery on the frontend and
      Flask on the backend, as required by the course.
    </p>
  </div>

  <div class="col-span-12">
    <h3 class="mat-h2">Original Contributors</h3>
    <p class="mat-body2">Here are the original contributors of the project</p>
    <ul class="list-disc pl-4 mat-body">
      <li>
        <a class="link" href="https://github.com/Zehua-Chen">
          Zehua Chen zc2616@columbia.edu
        </a>
      </li>
      <li>
        <a class="link" href="https://github.com/nuomicii">
          Yuxuan Jia yj2680@columbia.edu
        </a>
      </li>
      <li>
        <a class="link" href="https://github.com/sl4986">
          Shangru Li, sl4986@columbia.edu
        </a>
      </li>
      <li>
        <a class="link" href="https://github.com/GraceD5">
          Chenchen Deng, cd3301@columbia.edu
        </a>
      </li>
      <li>
        <a class="link" href="https://github.com/mns2162">TA: Megha Sharma</a>
      </li>
    </ul>
  </div>
</div>
