<mat-toolbar color="primary">
  <nav>
    <a mat-button routerLink="/">Otamatone</a>
    <a mat-button routerLink="/app/learn">Learn</a>
    <a mat-button routerLink="/app/practice">Practice</a>
    <a mat-button routerLink="/app/quiz">Quiz</a>
  </nav>
</mat-toolbar>

<div class="container mx-auto grid grid-cols-12 gap-y-4 mt-5">
  <div class="col-span-12 text-center">
    <h1 class="mat-h1">Let's Learn Otamatone</h1>
  </div>

  <div class="col-span-12 flex justify-center">
    <app-otamatone></app-otamatone>
  </div>

  <div class="col-span-12">
    <mat-divider></mat-divider>
  </div>

  <div class="col-span-12 grid grid-cols-3 gap-x-3">
    <a mat-button color="primary" routerLink="/app/learn">Learn</a>
    <a mat-button color="primary" routerLink="/app/practice">Practice</a>
    <a mat-button color="primary" routerLink="/app/quiz">Quiz</a>
  </div>
</div>
